<h2 class="display-4 mb-4">List of recipes to import</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
      <th scope="col">Preparation time</th>
      <th scope="col">Import recipe</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_from_web.each_with_index do |recipe, index| %>
      <tr>
        <th class="align-middle" scope="row"><%= index + 1%></th>
        <td class="align-middle"><%= recipe.name %></td>
        <td class="align-middle"><%= recipe.description %></td>
        <td class="align-middle  min-width-col">
          <div>
            <%
              (1..5).each do |grade|
                if recipe.rating.to_f >= grade - 0.2
            %>
                <i class="bi bi-star-fill"></i>
              <% elsif recipe.rating.to_f >= grade - 0.5 %>
                <i class="bi bi-star-half"></i>
              <% else %>
                <i class="bi bi-star"></i>
              <% end %>
            <% end %>
          </div>
        </td>
        <td class="align-middle"><%= recipe.prep_time %> minutes</td>
        <td class="align-middle">
          <form action="/recipes" method="post">
            <input type="hidden" type="text" id="name" name="name" value="<%= recipe.name %>">
            <input type="hidden" type="text" id="description" name="description" value="<%= recipe.description %>">
            <input type="hidden" type="text" id="rating" name="rating" value="<%= recipe.rating %>">
            <input type="hidden" type="text" id="prep_time" name="prep_time" value="<%= recipe.prep_time %>">
            <button type="submit" class="btn btn-primary">Add recipe</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
